<%= stylesheet_link_tag "department" %>
<div class="container overflow-hidden">
    <div class="container text-center">
        <div class="row header">
            <div class="col">
                <h3 class="display-5">Beloit Computer Science Program</h3>
            </div>
        </div>
        <div class="row row-cols-2 main-wrapper px-4">
            <%= link_to students_path, class:"nav-link col btn btn-light center-div" do %>
                <p class="h2">Student stories & Research</p>
            <% end %>
            <%= link_to faculties_path, class:"nav-link col btn btn-light center-div" do %>
                <p class="h2">Faculty & Staff</p>
            <% end %>
            <%= link_to courses_path, class:"nav-link col btn btn-light center-div" do %>
                <p class="h2">Courses</p>
            <% end %>
            <%= link_to requirements_path, class:"nav-link col btn btn-light center-div" do %>
                <p class="h2">Computer Science & Data Science <br> Major & Minor Requirements</p>
            <% end %>
        </div>
    </div>
</div>
