<div id="<%= dom_id student %>">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <%= link_to "Home", root_path %>
        </li>
        <li class="breadcrumb-item">
            <%= link_to "Students stories & Research", students_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <%= student.name %>
        </li>
        </ol>
    </nav>

    <h1>
        <%= student.title %>
    </h1>
    <hr>
    <h4>
        <%= student.introduction %>
    </h4>
    <%= image_tag (student.image), class: "rounded", style: "max-width: 200px; margin: 2rem 0"%>
    <p>
        <%= student.description %>
    </p>

</div>
