<%= stylesheet_link_tag "student" %>
<p style="color: green"><%= notice %></p>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Students stories & Research</li>
  </ol>
</nav>
<h1>Student Stories & Research</h1>
<div class="container text-center overflow-hidden">
  <div class="row row-cols-2 row-cols-md-2 px-4">
    <%= link_to stories_students_path, class:"nav-link col btn btn-light center-div" do %>
      <div class="card" >
        <%= image_tag "/assets/bg/alumni-bg.jpg", class: "card-img-top" %>
        <div class="text-centered">Student & Alumni Stories</div>
      </div>
    <% end %>
    <%= link_to researchs_students_path, class:"nav-link col btn btn-light center-div" do %>
      <div class="card" >
        <%= image_tag "/assets/bg/research-bg.jpg", class: "card-img-top" %>
        <div class="text-centered">Ongoing Researchs</div>
      </div>
    <% end %>
    <%= link_to posters_students_path, class:"nav-link col btn btn-light center-div" do %>
      <div class="card" >
        <%= image_tag "/assets/bg/poster-bg.jpg", class: "card-img-top" %>
        <div class="text-centered">Posters</div>
      </div>
    <% end %>
    <%= link_to clubs_students_path, class:"nav-link col btn btn-light center-div" do %>
      <div class="card" >
        <%= image_tag "/assets/bg/cs-club-bg.jpg", class: "card-img-top" %>
        <div class="text-centered">CS Club</div>
      </div>
    <% end %>
  </div>
</div>
