<p style="color: green"><%= notice %></p>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Faculty & Staff</li>
  </ol>
</nav>

<h1>Faculty & Staff</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Office</th>
    </tr>
  </thead>
  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= link_to faculty.first_name + ' ' + faculty.last_name, faculty %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.phone %></td>
        <td><%= faculty.office %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# <%= link_to "New faculty", new_faculty_path %>
<%# http://127.0.0.1:3000/faculties/new %>
