<div id="<%= dom_id course %>">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Courses", courses_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= course.code %>
      </li>
    </ol>
  </nav>
  <h1 style="margin-bottom: 2.5rem">
    <%= "[#{course.code}] #{course.name} (#{course.credit} credit)"%>
  </h1>
  <p>
    <strong>Prerequisite: </strong>
    <%= course.prerequisite.empty? ? "None" : course.prerequisite %>
  </p>
  <p>
    <strong>Domain: </strong>
    <%= course.domain.empty? ? "None" : course.domain %>
  </p>
  <p>
    <%= course.description + " " + course.offered %>
  </p>
  <% if course.code != "CSCI 390" && course.code != "CSCI 395" %>
    <h3>
      <strong>Next offered: </strong>
      <%= get_next_offered(course.offered) %>
    </h3>
  <% end %>
</div>
