<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :domain, style: "display: block" %>
    <%= form.text_field :domain %>
  </div>

  <div>
    <%= form.label :prerequisite, style: "display: block" %>
    <%= form.text_field :prerequisite %>
  </div>

  <div>
    <%= form.label :credit, style: "display: block" %>
    <%= form.text_field :credit %>
  </div>
  
  <div>
    <%= form.label :major %>
    <%= form.check_box :major %>
  </div>

  <div>
    <%= form.label :minor %>
    <%= form.check_box :minor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
