<p style="color: green"><%= notice %></p>
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Courses</li>
  </ol>
</nav>
<h1>Courses</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Course</th>
      <th>Name</th>
      <th>Prerequisite</th>
      <th>Domain</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.prerequisite.empty? ? "None" : course.prerequisite %></td>
        <td><%= course.domain.empty? ? "None" : course.domain %></td>
        <td>
          <%= check_box_tag "#{course.id}-major-#{course.major}", course.major, course.major ? true : false, class: "form-check-input", disabled: true %>
        </td>
        <td>
          <%= check_box_tag "#{course.id}-minor-#{course.minor}", course.minor, course.minor ? true : false, class: "form-check-input", disabled: true %>
        </td>
        <td><%= course.credit %></td>
        <td><%= link_to "Course description", course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Minor elective courses: 4 classes chosen from 175, 245, 315, 335, 347, 367, and 377.
</p>
<%# link_to "New course", new_course_path %>
